<div class="section" id="aboutCCI">
	
	<div class="row">
		<div class="small-12 columns">
		
			<h1><span>Our Mission</span>Canine Companions for Independence</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 medium-6 columns">
			<img src="assets/img/about-friends.png" alt="Description">
		</div>
		
		<div class="small-12 medium-6 columns">
			<h3>Give A Dog A Job</h3>
			
			<p>Canine Companions for Independence® is the most highly acclaimed assistance dog organization in the United States and our unique and proven Team Training sets us apart by ensuring the match between dog and human is powerful and long lasting. Canine Companions has placed more than 5,400 assistance dogs since our founding in 1975. It’s your generous support that allows us to offer highly trained assistance dogs and a lifetime of support at absolutely no charge to people with disabilities.</p>
			<p><a href="http://cci.org" target="_blank">Visit CCI.org for more information.</a></p>
			
		</div>
	</div>
	
	
</div>