<div class="section" id="eventInfo">
	
	<div class="row">
		<div class="small-12 columns">
		
			<h1><span>Event Info</span>The Most Charming Gala of the Year</h1>
		</div>
	</div>
	
	<div class="row align-center">
		<div class="small-12 medium-10 large-8 columns">
		
			<p>Southern hospitality takes on a whole new meaning during the 21st annual Tales &amp; Tails Gala – honoring the eight Southern states that the Southeast Region serves. The evening will feature Southern inspired cuisine, live and silent auctions and entertainment. Please join us and become one of our charming sponsors.</p>

			<p>Help us celebrate another year of transforming the lives of children, veterans and adults with disabilities.</p>

		</div>
	</div>
	
	<div class="row align-center">
		<div class="wrapper">
			<div class="row event-details">
				<div class="small-12 medium-4 columns">
					<p class="label">Date</p>
					<p>
						<span class="month-day">October 14</span>
						<span class="year">2017</span>
					</p>
				</div>
				
				<div class="small-12 medium-4 columns">
					<p class="label">Location</p>
					<p>
						<strong>The Rosen Shingle Creek</strong><br />
						9939 Universal Boulevard<br />
						Orlando, FL 32819
						
					</p>
					<!-- COMMENT:YOU CAN PROVIDE A LINK TO A GOOGLE MAPS HERE -->
					<a href="#" target="_blank"><img src="assets/img/map-icon.png" alt="Map Icon"></a>
					<!-- COMMENT:END MAPS LINK -->
				</div>
				
				<div class="small-12 medium-4 columns">
					<p class="label">Time</p>
					<p>
						<strong>Reception &amp; Auction:</strong> 6 - 8 PM<br />
						<strong>Dinner:</strong> 8 PM<br />
						<strong>Entertainment:</strong> 9:15 PM
						
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row align-center">
		<div class="wrapper">
		
			<div class="row featuring">
				<div class="small-12 columns">
					<p class="label">2017 Entertainment – Georgia Middleman &amp; Gary Burr</p>
					<p>Gary and Georgia are award winning songwriters who, with harmony and humor, will bring their songs and the stories behind them for an intimate evening of music and laughter. They have written sixteen number one songs between them and this married couple have entertained audiences all over the country.</p>
				</div>			
			</div>
			
			<div class="row">
				<div class="small-12 columns">
					<div id="featureSlick">
						<div>
							<img src="assets/img/entertainment/ent_1.jpg" alt="Georgia Middleman &amp; Gary Burr">
							<div class="cci-slick-caption">Georgia Middleman &amp; Gary Burr</div>
						</div>
						
						<div>
							<img src="assets/img/entertainment/ent_2.jpg" alt="Georgia Middleman &amp; Gary Burr">
							<div class="cci-slick-caption">Georgia Middleman &amp; Gary Burr</div>
						</div>
						
						<div>
							<img src="assets/img/entertainment/ent_3.jpg" alt="Georgia Middleman &amp; Gary Burr">
							<div class="cci-slick-caption">Georgia Middleman &amp; Gary Burr</div>
						</div>
						
						<div>
							<img src="assets/img/entertainment/ent_4.jpg" alt="Georgia Middleman &amp; Gary Burr">
							<div class="cci-slick-caption">Georgia Middleman &amp; Gary Burr</div>
						</div>
						
						<div>
							<img src="assets/img/entertainment/ent_5.jpg" alt="Georgia Middleman &amp; Gary Burr">
							<div class="cci-slick-caption">Georgia Middleman &amp; Gary Burr</div>
						</div>
						
						<div>
							<img src="assets/img/entertainment/ent_6.jpg" alt="Georgia Middleman &amp; Gary Burr">
							<div class="cci-slick-caption">Georgia Middleman &amp; Gary Burr</div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="row align-center">
		<div class="wrapper">
			
				<div id="buyTix">
					
					<!-- COMMENT:THIS IS WHERE YOU CAN EDIT THE TICKET INFO PRICE AND LINKS -->
					<h4>Buy Tickets</h4>
					<div class="row medium-unstack align-middle">
						
						<div class="column tix-info">
							<p>Join the celebration and purchase your tickets to this year’s Tales &amp; Tails Gala. As an official guest, you’ll have the opportunity to experience, first hand, the dedication, commitment and selflessness of our Canine Companions for Independence family and share in our mission. Your ticket includes dinner, complimentary drinks and entertainment.</p>
						</div>
						
						<div class="column">
							<div class="row medium-unstack">
								<div class="column tix-price">
									<p class="tix-category">Individual Ticket</p>
									<p class="tix-amount">$250</p>
									<button id="buyIndividual" onclick="buyTickets('http://support.cci.org/site/Ecommerce?store_id=1783')">Buy Now</button>
								</div>
								
								<div class="column tix-price">
									<p class="tix-category">VIP Ticket</p>
									<p class="tix-amount">$500</p>
									<button id="buyVIP" onclick="buyTickets('http://support.cci.org/site/Ecommerce?store_id=1783')">Buy Now</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div id="locationInfo">
					<h4>Special discounts for attendees on Golf and Dinner</h4>
					<p>To book your stay at the Rosen Shingle Creek call 1-866-996-6338 or 407-996-6338. Mention Canine Companions for Independence to receive the special rate.</p>
					<p class="room-rate">
						$129 <span>per night</span>
					</p>
					
					<button onclick="bookNow('http://www.rosenshinglecreek.com/')"> Book Now </button>
				</div>
			
		</div>
	</div>
		
</div>