<div class="section" id="sponsor">
	
	<div class="row">
		<div class="small-12 columns">
		
			<h1><span>Sponsors</span>Thank You<br />To Our Loyal Sponsors</h1>
		</div>
	</div>

	<div class="row align-center primary-sponsors">
		<div class="wrapper">
			
			<div class="row align-center small-up-1 medium-up-3">
				<!-- COMMENT:THESE ARE YOUR PRIMARY SPONSORS. TRY AND KEEP THEM AS AN EVEN NUMBER-->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/rosen.jpg" alt="Rosen Shingle Creek">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/abc.jpg" alt="ABC">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/sundance.jpg" alt="SunDance">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/seaworld.jpg" alt="Seaworld">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/coca_cola.jpg" alt="Coca Cola">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/densch.jpg" alt="Wayne Densch Charity">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/MaryPaulJacobs.png" alt="Mary &mp; Paul">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/Anne_Gittinger.jpg" alt="Anne Gittinger">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/mlb.jpg" alt="MLB Creative">
				</div>
				<!--END SPONSOR -->
				
				
				
				
			</div>
		</div>
	</div>
	
	<!-- COMMENT:BEGIN SECONDARY SPONSORS IF ANY EXIST 
	
	<div class="row secondary-sponsors align-center" id="cciSecondarySponsors">
		<div class="small-12 medium-10 columns">
			<div id="sponsorsSlick">
			<div>
				<img src="assets/img/sundance-logo.png">
			</div>
			<div>
				<img src="assets/img/mlb-logo.png">
			</div>
			<div>
				<img src="assets/img/seaworld-logo.png">
			</div>
			<div>
				<img src="assets/img/universal-logo.png">
			</div>
			<div>
				<img src="assets/img/mlb-logo.png">
			</div>
			<div>
				<img src="assets/img/mlb-logo.png">
			</div>
			<div>
				<img src="assets/img/mlb-logo.png">
			</div>			
			
		</div>
		</div>
	</div>
	
	END SECONDARY SPONSORS -->
	
	
	<!-- COMMENT:BECOME A SPONSOR -->
	
	<div class="row align-center" id="becomeASponsor">
		<div class="small-12 medium-8 large-6 columns">
			<h3>Become A Sponsor</h3>
			
			<p>Your generous donation will transform lives and help individuals, families &amp; your community. All proceeds support Canine Companions for Independence. Sponsors, like you, have generously funded this vital program in the Southeast Region since 1996.</p>
			<!-- COMMENT:EDIT BUTTON LINK -->
			<button onclick="openLink('http://support.cci.org/site/Ecommerce?store_id=1783')" type="button">Become A Sponsor</button>
			<!-- COMMENT: END EDIT BUTTON LINK -->
			<p>
				<!-- COMMENT:EDIT LINK -->
				<a href="#" target="_blank">Download Sponsorship Opportunities</a>
				<!-- COMMENT:END EDIT LINK -->
			</p>
			
			
			<!-- COMMENT:SPONSORSHIP LEVELS -->
			<p>Select a sponsorship level.</p>
			
			<ul class="vertical menu" id="sponsorLevels">
			  
			  <li>
			    <a href="#">Presenting - $25,000</a>
			    <ul class="menu vertical">
				    <!-- COMMENT:START SPONSOR LEVEL EDIT-->
				    <li>Name a Puppy</li>
					<li>30 Tickets</li>
					<li>30 VIP Tickets</li>
					<li>Featured in Newsletter</li>
					<li>Verbal Recognition at Event</li>
					<li>Billboard Recognition</li>
					<li>Recognition at Graduation</li>
					<li>Logo and Link on Website</li>
					<li>Logo on Event Invitation</li>
					<li>Social Media Promotion</li>
					<li>Email Promotion</li>
					<li>Full Page Advertisement in Event Program</li>
			      <!-- COMMENT:END SPONSOR LEVEL EDIT -->
			    </ul>
			  </li>
			  
			  
			  <li>
			    <a href="#">Diamond Paws - $20,000</a>
			    <ul class="menu vertical">
					<!-- COMMENT:START SPONSOR LEVEL EDIT-->
					<li>Name a Puppy</li>
					<li>20 Tickets</li>
					<li>20 VIP Tickets</li>
					<li>Billboard Recognition</li>
					<li>Recognition at Graduation</li>
					<li>Logo and Link on Website</li>
					<li>Logo on Event Invitation</li>
					<li>Social Media Promotion</li>
					<li>Email Promotion</li>
					<li>Full Page Advertisement in Event Program</li>
			      <!-- COMMENT:END SPONSOR LEVEL EDIT -->
			    </ul>
			  </li>
			  
			  <li>
			    <a href="#">Emerald Paws - $10,000</a>
			    <ul class="menu vertical">
					<!-- COMMENT:START SPONSOR LEVEL EDIT-->
					<li>10 Tickets</li>
					<li>10 VIP Tickets</li>
					<li>Recognition at Graduation</li>
					<li>Logo and Link on Website</li>
					<li>Logo on Event Invitation</li>
					<li>Social Media Promotion</li>
					<li>Email Promotion</li>
					<li>Full Page Advertisement in Event Program</li>
			      <!-- COMMENT:END SPONSOR LEVEL EDIT -->
			    </ul>
			  </li>
			  
			  <li>
			    <a href="#">Ruby Paws - $5,500</a>
			    <ul class="menu vertical">
					<!-- COMMENT:START SPONSOR LEVEL EDIT-->
					<li>10 Tickets</li>
					<li>10 VIP Tickets</li>
					<li>Social Media Promotion</li>
					<li>Email Promotion</li>
					<li>1/2 Page Advertisement in Event Program</li>
			      <!-- COMMENT:END SPONSOR LEVEL EDIT -->
			    </ul>
			  </li>
			  
			  <li>
			    <a href="#">Saphire Paws - $3,500</a>
			    <ul class="menu vertical">
				    <!-- COMMENT:START SPONSOR LEVEL EDIT-->
			    	<li>10 Tickets</li>
					<li>2 VIP Tickets</li>
					<li>1/4 Page Advertisement in Event Program</li>
			      <!-- COMMENT:END SPONSOR LEVEL EDIT -->
			    </ul>
			  </li>
			  
			  <li>
			    <a href="#">Pearl Paws - $3,000</a>
			    <ul class="menu vertical">
				    <!-- COMMENT:START SPONSOR LEVEL EDIT-->
					<li>10 Tickets</li>
					<li>1/4 Page Advertisement in Event Program</li>
			    	<!-- COMMENT:END SPONSOR LEVEL EDIT -->
			    </ul>
			  </li>
			  
			  
			</ul>
			
			
		</div>
	</div>
	
	<!-- COMMENT:END BECOME A SPONSOR-->
		
	<!-- COMMENT:AUCTION INFO -->
	<div class="row align-center" id="auction">
		<div class="small-12 medium-8 large-6 columns">
		<h3>Auction Donations</h3>
		<p>
				<!-- COMMENT:EDIT LINK -->
				<a href="https://cci-landing-pages.s3.amazonaws.com/tnt2017/pdf/TailsAndTales_GalaAuctionSheet.pdf" target="_blank">Donate To The Auction</a>
				<!-- COMMENT:END EDIT LINK -->
			</p>
		<p>With support from businesses and individuals the Tales &amp; Tails Gala generates money for Canine Companions that will further support our mission of providing highly trained assistance dogs for adults and children with disabilities. Help Canine Companions for Independence celebrate another year of transforming the lives of adults, children and veterans with disabilities, by making a donation to our silent and live auctions. Our assistance dogs not only help their human partners with tasks such as picking up dropped items and opening doors, but provide the constant companionship and love only a dog can. Canine Companions for Independence is supported entirely by donations from individuals, corporations, foundations and special events.</p>
			<!-- COMMENT:EDIT BUTTON LINK -->
		<button is="auctionSheet" onclick="openLink('https://cci-landing-pages.s3.amazonaws.com/tnt2017/pdf/TailsAndTales_GalaAuctionSheet.pdf')" type="button">Donate An Auction Item</button>
			
		</div>
		
	</div>
	<!-- COMMENT:END AUCTION INFO -->
</div>