<div class="section" id="stories">
	<div class="row align-center align-middle" style="position: relative;">
		<div class="small-12 medium-8 columns">
			<h1><span>Stories</span>Southeast Region Stories of Independence</h1>
			<p>The Southeast Region of Canine Companions for Independence has been making a difference in the lives of people with disabilities since 1989. You can help someone in your community every month just like one of these Canine Companions assistance dogs:</p>
		</div>
	</div>
	
	<div class="row align-center">
		<div class="wrapper">
			<div class="row">
				<!--THIS IS A STORY. YOU CAN EDIT ANYTHING HERE-->
				<div class="small-12 medium-6 columns story">
					<img src="assets/img/story1_image.png" alt="Story 1">
					
					<p class="story-title">Marian  &amp; Scopa</p>
					<!--<p>Tiramisu candy candy sweet roll chocolate cake chocolate cake cheesecake lemon drops jelly-o. Cheesecake marzipan chupa chups topping pie bonbon.</p>-->
					<button id="openStory_1" type="button">Read More</button>	
				</div>
				
				<!--STOP EDITING THE STORY. EVERYTHING YOU WANT TO CHANGE IS ABOVE-->
				
				<!--THIS IS A STORY. YOU CAN EDIT ANYTHING HERE-->
				<div class="small-12 medium-6 columns story">
					<img src="assets/img/story2_image.png" alt="Story 1">
					
					<p class="story-title">Leroy &amp; Luther</p>
					<!--<p>Tiramisu candy candy sweet roll chocolate cake chocolate cake cheesecake lemon drops jelly-o. Cheesecake marzipan chupa chups topping pie bonbon.</p>-->
					<button id="openStory_2" type="button">Read More</button>
				</div>
				
				<!--STOP EDITING THE STORY. EVERYTHING YOU WANT TO CHANGE IS ABOVE-->
				
				<!--THIS IS A STORY. YOU CAN EDIT ANYTHING HERE-->
<!--
				<div class="small-12 medium-4 columns story">
					<img src="assets/img/story3_image.png" alt="Story 1">
					
					<p class="story-title">Stefan &amp; Knoxville</p>
					<p>Tiramisu candy candy sweet roll chocolate cake chocolate cake cheesecake lemon drops jelly-o. Cheesecake marzipan chupa chups topping pie bonbon.</p>
					<button id="openStory_3"  type="button">Read More</button>
					<button id="openStory_3" type="button">Read More</button>
				</div>
-->
				
				<!--STOP EDITING THE STORY. EVERYTHING YOU WANT TO CHANGE IS ABOVE-->
				
			</div>
		</div>
	</div>
</div>