<!-- STORY 1 -->
<div class="reveal light" id="story_1">
	<div class="row">
		<div class="small-12 columns">
			<p>
				<img src="assets/img/story1_image.png" alt="Story 1">
			</p>
			
			<h3>Marian &amp; Scopa</h3>
			
			<p>Marian loves puppies. Who doesn’t? But she has put her love of puppies to use by helping change lives as a volunteer puppy raiser for Canine Companions. Marian raised Luther, who holds a special place in her heart and she knows he is doing what he was born to do &mdash; help transform a person’s life.</p>
		</div>
	</div>
	
	
	
	 <button class="close-button" aria-label="Close alert" type="button" id="closeStory_1">
	 	<span aria-hidden="true">&times;</span>
	 </button>
	
</div>

<!-- STORY 2 -->

<div class="reveal light" id="story_2">
	<div class="row">
		<div class="small-12 columns">
			<p>
				<img src="assets/img/story2_image.png" alt="Story 2">
			</p>
			
			<h3>Leroy &amp; Luther</h3>
			
			<p>Due to an unexpected and very serious illness, Leroy Douthit became a bilateral amputee. He was a young man in the prime of his life with a wife and two small children. Today, Leroy has a full time career as an engineer, plays golf, bikes, ziplines, and generally does whatever he wants to – with Luther, his Canine Companions service dog by his side.</p>
		</div>
	</div>
	
	
	<button class="close-button" aria-label="Close alert" type="button" id="closeStory_2">
	 	<span aria-hidden="true">&times;</span>
	 </button>
	
</div>

<!-- STORY 3 -->

<div class="reveal light" id="story_3">
	<div class="row">
		<div class="small-12 columns">
			<p>
				<img src="assets/img/story3_image.png" alt="Story 3">
			</p>
			
			<h3>Stefan &amp; Knoxville</h3>
			
			<p>Stefan LeRoy is a U.S. Army veteran who was deployed to Afghanistan in 2012. Just five months into his deployment he stepped on an IED while carrying a severely injured platoon member to a medevac helicopter. The injury caused him to lose both his legs below the knee. He received treatment at Walter Reed National Military Medical Center and was medically retired in 2015.</p>
			<p>Stefan received Service Dog Knoxville from Canine Companions for Independence in February 2016. Knoxville is a 2-year-old yellow Labrador/Golden Retriever cross, who responds to more than 40 commands. Knoxville assists Stefan, who is a bi-lateral leg amputee, by retrieving dropped items, opening and closing doors, and other tasks that will enable him to lead a more independent life.</p>
			<p>Stefan uses prosthetics and is very active in adaptive sporting events and has hand-cycled numerous marathons and he competed in the Invictis Games and completed the Boston Marathon.</p>
		</div>
	</div>
	
	
	<button class="close-button" aria-label="Close alert" type="button"  id="closeStory_3">
	 	<span aria-hidden="true">&times;</span>
	 </button>
	
</div>