//THIS IS WHERE WE DEFINE OUR COLORS FOR THE PAGE


//CCI BRAND COLORS===================================================

$cci-blue: #1c517d;
$cci-yellow: #ffd200;
$cci-gray: #cccccc;


//CCI EVENT THEME COLORS============================================
// This is where we define the color palette for 
$cci-primary: #0A496C;
$cci-secondary: #FFF7E7;
$cci-accent: #E2B25D;
$peanut-yellow: #FFFBD4;
$peanut-blue: #293576;
$peanut-orange: #F9A01B;
$peanut-tangerine: #F15824;
$peanut-brown: #6a2811;

//INDIE THEME COLORS
$indie-pink:#EC0677;
$indie-yellow:#FFD23C;
$indie-blue:#1C517D;
$indie-lightblue:#0094C9;
$indie-darkblue:#00274E;

//SECTION THEMES====================================================
//here is where we can define themes for each section.
//For example a section may have a dark background with a lighter font:
/*
	.dark {
		background:black;
		color:white
		}
	*/

@mixin cci-dark() {
	background: $cci-primary;
	color:$cci-secondary;
	
	button, a.button {
		background: $cci-accent;
		
		color: #fff;
	}
	
}

@mixin cci-light() {
	background: $cci-secondary;
	color:$cci-primary;
	
	button, a.button {
		background: $cci-accent;
		
		color: #fff;
	}
	
}

@mixin cci-clear() {
	background: #ffffff;
	color:$cci-primary;
	
	button, a.button {
		background: $peanut-orange;
		color: #fff;
	}
	
}

@mixin peanut-light() {
	background: $peanut-yellow;
	color:$peanut-brown;
	
	button, a.button {
		background: $peanut-tangerine;
		color: #fff;
	}
	
}

@mixin peanut-brown() {
	background: $peanut-brown;
	color:$peanut-yellow;
	
	button, a.button {
		background: $peanut-orange;
		color: #fff;
	}
	
}

@mixin peanut-white() {
	background: white;
	color:$peanut-brown;
	
	button, a.button {
		background: $peanut-orange;
		color: #fff;
	}
	
}