<div class="section" id="eventInfo">
	
	<div class="row">
		<div class="small-12 columns">
		
			<h1><span>Event Info</span> 2019 Tales &amp; Tails Gala</h1>
		</div>
	</div>
	
	<div class="row align-center">
		<div class="small-12 medium-10 large-8 columns">
		
			<p>From the Producers of Southern Pawspitality and It’s The Great Gala, Charlie Brown — Canine Companions for Independence® presents — The Indies. Join us to celebrate the best of the best assistance dogs, trainers and puppy raisers. Hear heartfelt tales of courage, bravery and compassion while enjoying an evening of food, fun and music. Voted &#8220;two paws up&#8221; by critics everywhere!</p>

            <p>Get your tickets or become a sponsor and help us celebrate another year of transforming the lives of children, veterans, and adults with disabilities.</p>

		</div>
	</div>
	
	<div class="row align-center">
		<div class="wrapper">
			<div class="row event-details">
				<div class="small-12 medium-4 columns">
					<p class="label">DATE</p>
					<p>
						<span class="month-day">10.26.2019</span>
<!--						<span class="year">2019</span>-->
					</p>
				</div>
				
				<div class="small-12 medium-4 columns">
					<p class="label">LOCATION</p>
					<p>
						<strong>The Rosen Shingle Creek</strong><br />
						9939 Rosen Blvd.<br />
						Orlando, FL 32819
						
					</p>
					<!-- COMMENT:YOU CAN PROVIDE A LINK TO A GOOGLE MAPS HERE -->
					<a href="#" target="_blank"><img src="assets/img/map-icon-blue@2x.png" alt="Map Icon"></a>
					<!-- COMMENT:END MAPS LINK -->
				</div>
				
				<div class="small-12 medium-4 columns">
					<p class="label">TIME</p>
					<p>
						<strong>Reception &amp; Auction:</strong><br /> 
                        6:00 pm<br />
						<strong>Dinner:</strong><br />
                        8:00 pm<br />
						<strong>Entertainment:</strong><br /> 
                        9:15 pm<br />
						
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row align-center">
		<div class="wrapper">
		
			<div class="row featuring">
				<div class="small-12 columns">
					<h1><span>Entertainment</span> Blonde Ambition</h1>
                    <p style="text-transform: uppercase; letter-spacing: 1px;"><strong>Back By Popular Demand!</strong></p>
					<p>With professionalism and class, this versatile act delivers a fast-paced, DJ style approach to live music offering something for everyone—from Top 40 to Motown, Classic Rock to Pop, Hip Hop, 70's, 80's, 90's &amp; Jazz. Blonde Ambition leaves you wanting more!</p>
				</div>			
			</div>
			
			<div class="row">
				<div class="small-12 columns">
					<div id="featureSlick">
						<div>
							<img src="assets/img/entertainment/ent_1.jpg" alt="Blonde Ambition">
							<div class="cci-slick-caption">Blonde Ambition</div>
						</div>
						
						<div>
							<img src="assets/img/entertainment/ent_2.jpg" alt="Blonde Ambition">
							<div class="cci-slick-caption">Blonde Ambition</div>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="row align-center">
		<div class="wrapper">
			     <h1 style="margin-top: 60px;">Tickets</h1>
				<div id="buyTix">
					
					<!-- COMMENT:THIS IS WHERE YOU CAN EDIT THE TICKET INFO PRICE AND LINKS -->
<!--					<h4>Tickets</h4>-->
					<div class="row medium-unstack align-middle">
						
						<div class="column tix-info">
							<p>Join the celebration and purchase your tickets to this year’s Tales &amp; Tails Gala. As an official guest, you’ll have the opportunity to experience, first hand, the dedication, commitment and selflessness of our Canine Companions for Independence family and share in our mission. Your ticket includes dinner, complimentary drinks and entertainment.</p>
						</div>
						
						<div class="column">
							<div class="row medium-unstack">
								<div class="column tix-price">
									<p class="tix-category">Individual</p>
									<p class="tix-amount">$250</p>
<!--									<button id="buyIndividual" onclick="buyTickets('http://support.cci.org/site/Ecommerce?store_id=1783')">Buy Now</button>-->
								</div>
								
								<div class="column tix-price">
									<p class="tix-category">VIP</p>
									<p class="tix-amount">$500</p>
                                    
								</div>
                                
                                <div class="small-12">
                                
									<button id="buyTixBtn" onclick="buyTickets('http://support.cci.org/site/Ecommerce?store_id=2461')">Buy Tickets</button>
                                </div>
							</div>
						</div>
					</div>
				</div>
			
				<div id="locationInfo">
					<h4>Accomodations Discount</h4>
					<p>To book your stay at the Rosen Shingle Creek call 1-866-996-6338 or 407-996-6338. Mention Canine Companions for Independence to receive the special rate.</p>
					<p class="room-rate">
						$129 <span>per night</span>
					</p>
					
					<button onclick="bookNow('http://www.rosenshinglecreek.com/')"> Explore the Resort </button>
				</div>
			
		</div>
	</div>
		
</div>