<div class="section" id="gallery">
	
	<!-- COMMENT:the text for this section goes here -->
	<div class="row align-center align-middle" style="position: relative;">
		
		<div class="small-12 medium-6 columns">
			
			<h1>
				<span>Gallery</span>
				<!--EDIT-->2018 Tales &amp; Tails Gala<!---->
			</h1>
			
			<p>We hope you join us this year for a heartwarming evening of music and storytelling to celebrate the unique connection between canines and their companions. Enjoy these pictures from last years event.</p>
			
		</div>
		
	</div>
	
	<div class="row align-center">
		<div class="wrapper">
			<div class="row">
				<div class="small-12 columns cci-slick-wrap">
					<div id="gallerySlick">
                        <div><img src="assets/img/last-year-gallery/31.jpg" alt="Gallery Image 2"></div>
                        <div><img src="assets/img/last-year-gallery/30.jpg" alt="Gallery Image 2"></div>
                        <div><img src="assets/img/last-year-gallery/29.jpg" alt="Gallery Image 2"></div>
                        <div><img src="assets/img/last-year-gallery/28.jpg" alt="Gallery Image 2"></div>
                        <div><img src="assets/img/last-year-gallery/27.jpg" alt="Gallery Image 2"></div>
                        <div><img src="assets/img/last-year-gallery/26.jpg" alt="Gallery Image 2"></div>
						<div><img src="assets/img/last-year-gallery/24.jpg" alt="Gallery Image 2"></div>
						<div><img src="assets/img/last-year-gallery/19.jpg" alt="Gallery Image 2"></div>
						<div><img src="assets/img/last-year-gallery/20.jpg" alt="Gallery Image 3"></div>
						<div><img src="assets/img/last-year-gallery/21.jpg" alt="Gallery Image 4"></div>
						<div><img src="assets/img/last-year-gallery/22.jpg" alt="Gallery Image 5"></div>
						<div><img src="assets/img/last-year-gallery/23.jpg" alt="Gallery Image 6"></div>
						<div><img src="assets/img/last-year-gallery/25.jpg" alt="Gallery Image 7"></div>
						
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
</div>