<div class="cci-page-top hero">
	<!-- DO NOT REMOVE (DNR) -->
	
	<div class="text-box">
		<p class="presents">Canine Companions for Independence Presents</p>
		<p class="subhead">The 21st Annual Tails &amp; Tales Gala</p>
		<p class="headline">Southern<br />Pawspitality</p>
		<p class="date">October 14, 2017 | The Rosen Shingle Creek</p>
	</div>
	
	<div class="scroll-icon">
		<div class="arrow bouncy">
			<div class="line_1"></div>
			<div class="line_2"></div>
		</div>
	</div>
	<!-- END DNR -->
</div>