	
	<div class="row">
		<div class="small-12 columns">
		
			<h1><span>Sponsorship</span>Thank You to Our Loyal Sponsors</h1>
		</div>
	</div>

	<div class="row align-center primary-sponsors">
		<div class="wrapper">
			
			<div class="row align-center small-up-1 medium-up-3">
				<!-- COMMENT:THESE ARE YOUR PRIMARY SPONSORS. TRY AND KEEP THEM AS AN EVEN NUMBER-->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/rosen.png" alt="Rosen Shingle Creek">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/abc.png" alt="ABC">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/seaworld.png" alt="Seaworld">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/HarrisRosenFoundation.png" alt="HarrisRosenFoundation">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/MegansMove.jpg" alt="MegansMove">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/densch.png" alt="densch">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/coke.png" alt="Coke">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/AnneGittinger.png" alt="AnneGittinger">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/wob.png" alt="wob">
				</div>
				<!--END SPONSOR -->
					<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/NancyJeff.png" alt="NancyJeff">
				</div>
				<!--END SPONSOR -->
					<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/FrankDan.png" alt="FrankDan">
				</div>
				<!--END SPONSOR -->
					<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/MaryPaulJacobs.png" alt="Mary &mp; Paul">
				</div>
				<!--END SPONSOR -->
					<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/sundance.png" alt="Sundance">
				</div>
				<!--END SPONSOR -->
					<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/mlb.png" alt="mlb">
				</div>
				<!--END SPONSOR -->
				
				
			</div>
		</div>
	</div>
	
	<!-- COMMENT:BEGIN SECONDARY SPONSORS IF ANY EXIST 
	
	<div class="row secondary-sponsors align-center" id="cciSecondarySponsors">
		<div class="small-12 medium-10 columns">
			<div id="sponsorsSlick">
			<div>
				<img src="assets/img/sundance-logo.png">
			</div>
			<div>
				<img src="assets/img/mlb-logo.png">
			</div>
			<div>
				<img src="assets/img/seaworld-logo.png">
			</div>
			<div>
				<img src="assets/img/universal-logo.png">
			</div>
			<div>
				<img src="assets/img/mlb-logo.png">
			</div>
			<div>
				<img src="assets/img/mlb-logo.png">
			</div>
			<div>
				<img src="assets/img/mlb-logo.png">
			</div>			
			
		</div>
		</div>
	</div>
	
	END SECONDARY SPONSORS -->