<div class="section" id="sponsor">
	
	<div class="row">
		<div class="small-12 columns">
		
			<h1><span>Sponsorship</span>Thank You to Our Loyal Sponsors</h1>
		</div>
	</div>

	<div class="row align-center primary-sponsors">
		<div class="wrapper">
			
			<div class="row align-center small-up-1 medium-up-3">
				<!-- COMMENT:THESE ARE YOUR PRIMARY SPONSORS. TRY AND KEEP THEM AS AN EVEN NUMBER-->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
                    <p class="text-center" style="color:#EC0677;"><strong>Event Sponsor</strong></p>
					<img src="assets/img/sponsors/rosen.png" alt="Rosen Shingle Creek">
				</div>
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
<!--
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/abc.png" alt="ABC">
				</div>
-->
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
<!--
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/seaworld.png" alt="Seaworld">
				</div>
-->
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
<!--
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/HarrisRosenFoundation.png" alt="HarrisRosenFoundation">
				</div>
-->
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
<!--
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/MegansMove.jpg" alt="MegansMove">
				</div>
-->
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
<!--
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/densch.png" alt="densch">
				</div>
-->
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
<!--
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/coke.png" alt="Coke">
				</div>
-->
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
<!--
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/AnneGittinger.png" alt="AnneGittinger">
				</div>
-->
				<!--END SPONSOR -->
				<!-- COMMENT:SPONSOR: CAN EDIT-->
				<div class="small-12 columns primary-sponsor">
                     <p class="text-center" style="color:#EC0677;"><strong>Presenting Sponsor</strong></p>
					<img src="assets/img/sponsors/wob.png" alt="wob">
				</div>
				<!--END SPONSOR -->
					<!-- COMMENT:SPONSOR: CAN EDIT-->
<!--
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/NancyJeff.png" alt="NancyJeff">
				</div>
-->
				<!--END SPONSOR -->
					<!-- COMMENT:SPONSOR: CAN EDIT-->
<!--
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/FrankDan.png" alt="FrankDan">
				</div>
-->
				<!--END SPONSOR -->
					<!-- COMMENT:SPONSOR: CAN EDIT-->
<!--
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/MaryPaulJacobs.png" alt="Mary &mp; Paul">
				</div>
-->
				<!--END SPONSOR -->
					<!-- COMMENT:SPONSOR: CAN EDIT-->
<!--
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/sundance.png" alt="Sundance">
				</div>
-->
				<!--END SPONSOR -->
					<!-- COMMENT:SPONSOR: CAN EDIT-->
<!--
				<div class="small-12 columns primary-sponsor">
					<img src="assets/img/sponsors/mlb.png" alt="mlb">
				</div>
-->
				<!--END SPONSOR -->
				
				
			</div>
		</div>
	</div>

	
	
	<!-- COMMENT:BECOME A SPONSOR -->
	<!-- REMOVE INLINE STYLES WHEN THERE ARE SPONSORS -->
	<div class="row align-center" id="becomeASponsor" style="border:none; padding-top: 0; margin-top:0;">
		<div class="small-12 medium-8 large-6 columns">
<h3>Become A Sponsor</h3>
			
			<p>Your generous donation will transform lives and help individuals, families &amp; your community. All proceeds support Canine Companions for Independence. Sponsors, like you, have generously funded this vital program in the Southeast Region since 1996.</p>
            <h4>The VIP Experience</h4>
			
			<p class="viptxt">A VIP ticket includes access to a private area with open bar, puppy photos, puppy experience, preferred seating for dinner and VIP registration/check-in.</p>
			<!-- COMMENT:EDIT BUTTON LINK -->
			<button onclick="openLink('http://support.cci.org/site/Ecommerce?store_id=2461')" type="button">Become A Sponsor</button>
			<!-- COMMENT: END EDIT BUTTON LINK -->
			<p>
				<!-- COMMENT:EDIT LINK -->
				<a href="https://dpqk9jykiwrgy.cloudfront.net/2019/pdf/CCI3621_SponsorCCForm2019.pdf" target="_blank">Download Sponsorship Opportunities</a>
				<!-- COMMENT:END EDIT LINK -->
			</p>
			
			
			<!-- COMMENT:SPONSORSHIP LEVELS -->
			<p>Select a sponsorship level.</p>
			
			<ul class="vertical menu" id="sponsorLevels">
			  
			  <li>
			    <a href="#">Best in Show - $25,000</a>
			    <ul class="menu vertical">
				    <!-- COMMENT:START SPONSOR LEVEL EDIT-->
				    <li>30 Tickets</li>
					<li>30 VIP Tickets</li>
					<li>Billboard Recognition</li>
					<li>Featured in Newsletter</li>
					<li>Verbal Recognition at Event</li>
					<li>Recognition at Graduation</li>
					<li>Logo on Event Invitation</li>
					<li>Logo and Link on Website</li>
                    <li>Social Media Promotion</li>
					<li>Name on Website</li>
					<li>4 Tickets to Stakeholder Meeting</li>
					<li>Digital Advertisement and Table Signage at Event</li>
			      <!-- COMMENT:END SPONSOR LEVEL EDIT -->
			    </ul>
			  </li>
			  
			  
			  <li>
			    <a href="#">Top Dog - $15,000</a>
			    <ul class="menu vertical">
					<!-- COMMENT:START SPONSOR LEVEL EDIT-->
					<li>20 Tickets</li>
					<li>20 VIP Tickets</li>
					<li>Featured in Newsletter</li>
					<li>Verbal Recognition at Event</li>
					<li>Recognition at Graduation</li>
					<li>Logo on Event Invitation</li>
					<li>Logo and Link on Website</li>
					<li>Social Media Promotion</li>
					<li>Name on Website</li>
					<li>2 Tickets to Stakeholder Meeting</li>
					<li>Digital Advertisement and Table Signage at Event</li>
			      <!-- COMMENT:END SPONSOR LEVEL EDIT -->
			    </ul>
			  </li>
			  
			  <li>
			    <a href="#">Best Friend - $10,000</a>
			    <ul class="menu vertical">
					<!-- COMMENT:START SPONSOR LEVEL EDIT-->
					<li>10 Tickets</li>
					<li>10 VIP Tickets</li>
					<li>Verbal Recognition at Event</li>
					<li>Recognition at Graduation</li>
					<li>Logo on Event Invitation</li>
					<li>Logo and Link on Website</li>
					<li>Social Media Promotion</li>
					<li>Name on Website</li>
					<li>2 Tickets to Stakeholder Meeting</li>
					<li>Digital Advertisement and Table Signage at Event</li>
			      <!-- COMMENT:END SPONSOR LEVEL EDIT -->
			    </ul>
			  </li>
			  
			  <li>
			    <a href="#">Loyal Companion - $5,500</a>
			    <ul class="menu vertical">
					<!-- COMMENT:START SPONSOR LEVEL EDIT-->
					<li>10 Tickets</li>
					<li>10 VIP Tickets</li>
					<li>Social Media Promotion</li>
					<li>Name on Website</li>
					<li>2 Tickets to Stakeholder Meeting</li>
					<li>Digital Advertisement and Table Signage at Event</li>
			      <!-- COMMENT:END SPONSOR LEVEL EDIT -->
			    </ul>
			  </li>
			  
			  <li>
			    <a href="#">Pick of the Litter - $3,500</a>
			    <ul class="menu vertical">
				    <!-- COMMENT:START SPONSOR LEVEL EDIT-->
			    	<li>10 Tickets</li>
					<li>2 VIP Tickets</li>
					<li>Name on Website</li>
					<li>2 Tickets to Stakeholder Meeting</li>
					<li>Digital Advertisement and Table Signage at Event</li>
			      <!-- COMMENT:END SPONSOR LEVEL EDIT -->
			    </ul>
			  </li>
			  
			  
			  
			  
			</ul>
			
			
		</div>
	</div>
	
	<!-- COMMENT:END BECOME A SPONSOR-->
		
	<!-- COMMENT:AUCTION INFO -->
    <div id="auctionIndie">
	<div class="row align-center" id="auction_ignore">
		<div class="small-12 medium-8 large-6 columns">
            <h1><span>Auction</span>Donate an Auction Item</h1>
		
		<p>With support from businesses and individuals the Tales &amp; Tails Gala generates money for Canine Companions that will further support our mission of providing highly trained assistance dogs for adults and children with disabilities. Help Canine Companions for Independence celebrate another year of transforming the lives of adults, children and veterans with disabilities, by making a donation to our silent and live auctions. Our assistance dogs not only help their human partners with tasks such as picking up dropped items and opening doors, but provide the constant companionship and love only a dog can. Canine Companions for Independence is supported entirely by donations from individuals, corporations, foundations and special events.</p>
			<!-- COMMENT:EDIT BUTTON LINK -->
		<button is="auctionSheet" onclick="openLink('https://dpqk9jykiwrgy.cloudfront.net/2019/pdf/CCI3621_GalaDonateForm2019_8.5x11_OL2_WEB2.pdf')" type="button">Donate An Auction Item</button>
			
		</div>
		
	</div>
    </div>
	<!-- COMMENT:END AUCTION INFO -->
</div>