<!-- STORY 1 -->
<div class="reveal light" id="story_1">
	<div class="row">
		<div class="small-12 columns">
			<p>
				<img src="assets/img/story1_image.png" alt="Story 1">
			</p>
			
			<h3>College Students Help Give Puppies a Purpose</h3>
			
			<p>The volunteer puppy-raising program offers a unique opportunity for college students to assist Canine Companions with its mission. Aside from learning about puppy care and training, students gain knowledge and experience with learning theory, record keeping and reporting, public speaking and communication skills. Disability awareness is also gained along with the knowledge of issues regarding the legal aspects of public access for assistance dog users</p>
<p>And college students are some of the best people to train puppies because they are always putting them in social situations. Puppies can be seen following their puppy raisers around campuses wearing their Canine Companions puppy-raising insignia vest and becoming socialized as they attend classes, walk amid crowds and become familiar with the word around them.</p>
            <p>All students undergo a rigorous selection process and make a huge personal commitment to be a puppy raiser for a year and a half.</p>
<p>Currently the following colleges have puppy raisers on campus in the Southeast Region &mdash; University of Central Florida, University of Miami, Tulane University and Duke University </p>
		</div>
	</div>
	
	
	
	 <button class="close-button" aria-label="Close alert" type="button" id="closeStory_1">
	 	<span aria-hidden="true">&times;</span>
	 </button>
	
</div>

<!-- STORY 2 -->

<div class="reveal light" id="story_2">
	<div class="row">
		<div class="small-12 columns">
			<p>
				<img src="assets/img/story2_image.png" alt="Story 2">
			</p>
			
			<h3>Leigh &amp; Nerf are off to College </h3>
            <p>Leigh Dittman was born with Osteogenesis Imperfecta, or brittle bone disease, which makes her bones weaker than normal and more prone to fractures. So, when it was time for her to apply to attend college she knew that she would need an assistance dog by her side. That’s where Nerf enters the picture.</p>
			<p>Now, as a freshman at The University of Tampa, going to public places is a regular part of her life, but it is often in these settings when she struggles with access and picking up dropped items. Nerf assists her by retrieving those dropped items, pulling her wheelchair, carrying her backpack, and other tasks that enable her to lead a more independent life. Besides providing practical support, Nerf adds emotional support and companionship, too, when times are stressful, and when Leigh is feeling overwhelmed from her class load and final exams.</p>
<p>Leigh has always been an achiever and has that same approach in college with a goal to become a neonatal intensive care nurse. With Nerf by her side Leigh will soon be making a difference in other people lives.</p>
		</div>
	</div>
	
	
	<button class="close-button" aria-label="Close alert" type="button" id="closeStory_2">
	 	<span aria-hidden="true">&times;</span>
	 </button>
	
</div>

<!-- STORY 3 -->

<div class="reveal light" id="story_3">
	<div class="row">
		<div class="small-12 columns">
			<p>
				<img src="assets/img/story3_image.png" alt="Story 3">
			</p>
			
			<h3>Stefan &amp; Knoxville</h3>
			
			<p>Stefan LeRoy is a U.S. Army veteran who was deployed to Afghanistan in 2012. Just five months into his deployment he stepped on an IED while carrying a severely injured platoon member to a medevac helicopter. The injury caused him to lose both his legs below the knee. He received treatment at Walter Reed National Military Medical Center and was medically retired in 2015.</p>
			<p>Stefan received Service Dog Knoxville from Canine Companions for Independence in February 2016. Knoxville is a 2-year-old yellow Labrador/Golden Retriever cross, who responds to more than 40 commands. Knoxville assists Stefan, who is a bi-lateral leg amputee, by retrieving dropped items, opening and closing doors, and other tasks that will enable him to lead a more independent life.</p>
			<p>Stefan uses prosthetics and is very active in adaptive sporting events and has hand-cycled numerous marathons and he competed in the Invictis Games and completed the Boston Marathon.</p>
		</div>
	</div>
	
	
	<button class="close-button" aria-label="Close alert" type="button"  id="closeStory_3">
	 	<span aria-hidden="true">&times;</span>
	 </button>
	
</div>